body {
    color: whitesmoke;
    background-color: black;
    text-align: center;
}
.centered-ol {
    list-style: none;
    padding: 0;
    text-align: center; 
  }

  .centered-ol li {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin: 10px 0;
  }

#submit {
    display: none;
}
.highscores {
    float:left;
}
.timer {
    float: right;
}
#choice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
#choice-list {
    padding-left: 0
}
button {
    min-width: 7vw;
}